<section class="main container">
  <div class="row">
    <section class="posts col-md-9">
      <div class="miga-de-pan">
        <ol class="breadcrumb">
          <li> <a href="/">Home</a></li>
          <!--<li> <a href="info">Información</a></li>
          <li class="active"> Categorias</li>-->
        </ol>
      </div>

    <article class="post clearfix">
      <a href="#" class="thumb pull-left">
        <img class="img-thumbnail" src="static/img/logo.jpg" alt="">
      </a>
      <h2 class="post-title">
        ¿Qué es Chaac?
      </h2>
      <p><span class="post-fecha">06/Abril/2017</span></p>
      <p class="post-contenido text-justify">Chaac es un dispositivo desarrollado a partir de Software y Hardware Libre, capáz de controlar los sistemas de administración de líquidos de casi cualquier lugar... ¡Sólo necesitas Android SO y adquirir Chaac!</p>
      <div class="contenedor-botones">
          <script type="text/javascript" src="http://files.kichink.com/kichink_v1.js"></script>
            <script type="text/javascript">
            kichink_insert_buy_button({
                item_id:1357249,
                label: 'Comprar',
                show_tarjetas:false,
                img:false
              }); </script>
        </div>
    </article>
    
    <article class="post clearfix">
      <h2 class="post-title">
        Misión
      </h2>
      <p class="post-contenido text-justify">
          Dar la oportunidad al nuestros clientes de facilitar sus vidas eliminando los problemas que representa el suministro diario de agua en sus hogares. Estamos comprometidos con la satisfacción plena de las necesidades de los usuarios de Chaac, contribuyendo de manera positiva sus vidas. De la misma manera, aportar al cuidado del medio ambiente a través de sistemas de información de alta calidad y competitividad es nuestra prioridad. 
        </p>
    </article>

    <article class="post clearfix">
      <h2 class="post-title">Visión</h2>
      <p class="post-contenido text-justify">
          Chaac está interesado en ser un sistema de información que haga referencia a soluciones de calidad e innovadoras, capaces de impactar en el medio ambiente, la economía familiar y la sociedad en general, además ofrecer a nuestros clientes una mejora constante de la calidad de vida.
        </p>
    </article>

  </section>

  <aside class="col-md-3 hidden-xs hidden-sm">
    <h4>Compras</h4>
      <div class="list-group">
        <a href="http://kontrol.kichink.com/stores/preview/75081" class="list-group-item active">Adquirir a Chaac</a>
        <a href="/pieces" class="list-group-item">Adquirir Refacciones</a>
      </div>
      <h4>Desarrolladores</h4>
      <a href="https://www.facebook.com/DanniDimas" class="list-group-item">
        <h5 class="list-group-item-heading">Juan Daniel Dimas Amador</h5>
      </a>
      <a href="https://www.facebook.com/sknRaul?fref=ts" class="list-group-item">
        <h5 class="list-group-item-heading">Raúl Prior García</h5>
      </a>
      <a href="http://www.utectulancingo.edu.mx/" class="list-group-item">
        <h5 class="list-group-item-heading">Universidad Tecnológica de Tulancingo</h5>
      </a>
  </aside>
  
  </div>
</section>