<section class="posts col-md-12">
      <div class="miga-de-pan">
        <ol class="breadcrumb">
          <li> <a href="/">Home</a></li>
          <li class="active">Refacciones</li>
        </ol>
      </div>
      <div class="table-responsive">
		<table class="table table-bordered table-hover">
			<tr class="info">
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Referencia</th>
				<th>Adquirir</th>
			</tr>
			<tr>
				<td>Sensor Ultrasónico</td>
				<td><p class="text-justfy">El sensor HC-SR04 es una excelente opción como sensor de distancia ultrasónico. Permite los calculos del contenedor.</p></td>
				<td><img src="static/img/HC-SR04.jpg" alt="" width="100px" height="100px"></td>
				<td><a href="http://www.geekfactory.mx/tienda/sensores/hc-sr04-sensor-de-distancia-ultrasonico/" class="btn btn-info" role="button">Comprar</a></td>
			</tr>
			<tr>
				<td>Relevador 12V.</td>
				<td><p class="text-justfy">Relevador de tamaño estándar con bobina de 12 volts y contactos que soportan hasta 10A en configuración SPDT. Modelo SDR-12VDC-SL-C.</p></td>
				<td><img src="static/img/Rele12V.png" alt="" width="100px" height="100px"></td>
				<td><a href="http://www.geekfactory.mx/tienda/relevadores-y-switches/relevador-12-volts-sdr-12vdc-sl-c/" class="btn btn-info" role="button">Comprar</a></td>
			</tr>
			<tr>
				<td>Módulo Bluetooth HC-06</td>
				<td><p class="text-justfy">Este módulo permite establecer un enlace serial entre un microcontrolador y una PC u otro dispositivo habilitado con bluetooth (como un teléfono móvil).</p></td>
				<td><img src="static/img/HC-06.jpg" alt="" width="100px" height="100px"></td>
				<td><a href="http://www.geekfactory.mx/tienda/radiofrecuencia/modulo-bluetooth-hc-06-esclavo/" class="btn btn-info" role="button">Comprar</a></td>
			</tr>
			<!--<tr></tr>-->
		</table>
	</div>
</section>