<h1 class="acme">Registrarse</h1>
<form action="" class="form-horizontal">
	<div class="form-group">
	  <label for="usr">Nombre(s):</label>
	  <input type="text" class="form-control" id="usr">
	</div>
	<div class="form-group">
	  <label for="pwd">Apellido(s):</label>
	  <input type="password" class="form-control" id="pwd">
	</div>
	<div class="form-group">
	  <label for="usr">Email:</label>
	  <input type="text" class="form-control" id="usr">
	</div>
	<div class="form-group">
	  <label for="pwd">Contraseña:</label>
	  <input type="password" class="form-control" id="pwd">
	</div>
	<div class="form-group">
	  <label for="pwd">Confirmar contraseña:</label>
	  <input type="password" class="form-control" id="pwd">
	</div>
	<div class="form-group"> 
	    <div>
	      <button class="btn btn-primary form-control">Registrarse</button>
	    </div>
  	</div>
</form>

